# required for batocera squashfs
CONFIG_NLS_ISO8859_1=y
CONFIG_OVERLAY_FS=y
CONFIG_SQUASHFS=y
CONFIG_CHR_DEV_SG=m

# logo
# CONFIG_LOGO is not set

# required for evmapy
CONFIG_INPUT_UINPUT=y

# smb/cifs
CONFIG_CIFS=m
CONFIG_CIFS_STATS=y
# CONFIG_CIFS_STATS2 is not set
CONFIG_CIFS_WEAK_PW_HASH=y
CONFIG_CIFS_UPCALL=y
CONFIG_CIFS_XATTR=y
CONFIG_CIFS_POSIX=y
CONFIG_CIFS_ACL=y
CONFIG_CIFS_DEBUG=y
# CONFIG_CIFS_DEBUG2 is not set
# CONFIG_CIFS_DEBUG_DUMP_KEYS is not set
CONFIG_CIFS_DFS_UPCALL=y
CONFIG_CIFS_SMB2=y
CONFIG_CIFS_SMB311=y
# CONFIG_CIFS_SMB_DIRECT is not set

# MAX98088/MAX98089 audio codec driver (required for Orange Pi 5 Plus MAX98089 support)
CONFIG_SND_SOC_MAX98088=y

# Simple PM Bus driver (required for MAX98089 clock keeper)
CONFIG_SIMPLE_PM_BUS=y

# EMC2305 fan controller driver (required for Orange Pi 5 Plus fan control)
CONFIG_SENSORS_EMC2305=y
